.input {
    width: 100px;
    display: inline-block;
  }

.container {
  width: 40em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: solid;
  border-radius: 1em;
}

form {
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}